<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Medicine Recommendation Bot</title>
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
        <img src="images/logo.png">
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/chatWithDoctor">Consult A Doctor</a>
        </li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li>
          <a href="/chatWithDoctor">Consult A Doctor</a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/callAmbulance">Call Ambulance</a>
        </li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li>
          <a href="/callAmbulance">Call Ambulance</a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/chatBot">Medicine Recommendations Bot</a>
        </li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li>
          <a href="/chatWithBot">Medicine Recommendations Bot</a>
        </li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <center>
        <h4>
          <i class="material-icons">android</i>
          &nbsp;Hi! I'm Your Medical Bot&nbsp;
          <i class="material-icons">android</i>
        </h4>
        <div class="col l4 s4">.</div>
        <div class="col l4 s4">
          <form id="target">
            <input    type="text" id="query" placeholder="What illness Are You Feeling Today?" class="validate">
            <button class="btn waves-effect waves-light" type="submit">Suggest Me Medicine</button>
          </form>
        </div>
      </center>  
    </div>
  </div>
  <div class="row">
    <div id="sugg" class="col s4 offset-s4"></div>
    <div class="col  s4 offset-s4 grid-example">
      <div class="collection" id="api_result">
          
      </div>
    </div>
  </div>
</body>
<!--  Scripts-->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src='js/bot.js'></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
</html>
