<!DOCTYPE html>
<html>
<head>
	<title>Come Chat with doctor</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  	<!-- CSS  -->
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  	<link href="css/style2.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
	<nav class="light-blue lighten-1" role="navigation">
    	<div class="nav-wrapper container">
    		<a id="logo-container" href="#" class="brand-logo">
    			<img src="images/logo.png">
    		</a>
      		<ul class="right hide-on-med-and-down">
	        	<li>
	        		<a href="/chatWithDoctor">Chat With A Doctor</a>
	        	</li>
      		</ul>
      		<ul id="nav-mobile" class="side-nav">
        		<li><a href="/chatWithDoctor">Chat With A Doctor</a></li>
      		</ul>
	      	<ul class="right hide-on-med-and-down">
	        	<li><a href="/callAmbulance">Call Ambulance</a></li>
	      	</ul>

      		<ul id="nav-mobile" class="side-nav">
        		<li><a href="/callAmbulance">Call Ambulance</a></li>
      		</ul>
      		<ul class="right hide-on-med-and-down">
        		<li><a href="/chatBot">Chat Bot</a></li>
      		</ul>
      		<ul id="nav-mobile" class="side-nav">
        		<li><a href="/chatWithBot">Chat Bot</a></li>
      		</ul>
      		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    	</div>
  	</nav>
	<div class="overlay">
		<div class="container overlayContainer">
			<p class="flow-text">Enter your username</p>
			<p id="error" style="display:none;">Sorry this username is already taken</p>
			<form class="col s12" id="setUserName">
				<div class="row">
					<div class="input-field col s12">
	            		<input id="username" type="text" class="validate" required>
		                <label for="username">Username</label>
	           		</div>
				</div>
				<div class="row">
		            <div class="col m12">
		                <p class="right-align">                                
		                	<button class="btn btn-large waves-effect waves-light" type="submit">Get Me In</button>
		                </p>
		            </div>
		         </div>
			</form>
		</div>
	</div>
	<div id="content" style="display:none;">
		<div id="chatwrap">
			<div id="chat"></div>
			<form id="sendmessage">
				<div class="row">
					<div id='msgType 'class="input-field col s12" style="margin-top:0em;">
	           			<input id="message" type="text" class="validate" required>
		            	<label for="message">Enter Your Message</label>
	       			</div>
	       			<div class="col s6 offset-s6">                    
		            	<button class="btn waves-effect waves-light" type="submit">Send!
							<i class="material-icons right">send</i>
		            	</button>
		        	</div>
	       		</div>
			</form>
		</div>
		<div id="doctorsView">
			<p class="flow-text" style="border-bottom:1px solid black;">Doctors Online</p>
			<div id="doctor">
				
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src='js/chat.js'>
</script>
</html>