<!DOCTYPE html>
<html>
<head>
	<title>Come Chat with doctor</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	<!-- CSS  -->
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  	<link href="css/style2.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
	<nav class="light-blue lighten-1" role="navigation">
    	<div class="nav-wrapper container">
    		<a id="logo-container" href="#" class="brand-logo">
    			<img src="images/logo.png">
    		</a>
      		<ul class="right hide-on-med-and-down">
	        	<li>
	        		<a href="/chatWithDoctor">Chat With A Doctor</a>
	        	</li>
      		</ul>
      		<ul id="nav-mobile" class="side-nav">
        		<li><a href="/chatWithDoctor">Chat With A Doctor</a></li>
      		</ul>
	      	<ul class="right hide-on-med-and-down">
	        	<li><a href="/callAmbulance">Call Ambulance</a></li>
	      	</ul>

      		<ul id="nav-mobile" class="side-nav">
        		<li><a href="/callAmbulance">Call Ambulance</a></li>
      		</ul>
      		<ul class="right hide-on-med-and-down">
        		<li><a href="/chatBot">Chat Bot</a></li>
      		</ul>
      		<ul id="nav-mobile" class="side-nav">
        		<li><a href="/chatWithBot">Chat Bot</a></li>
      		</ul>
      		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    	</div>
  	</nav>
	<div class="overlay">
		<div class="container overlayContainer">
			<p class="flow-text">Enter your username</p>
			<p id="error" style="display:none;">Sorry this username is already taken</p>
			<form class="col s12" id="setUserName">
				<div class="row">
					<div class="input-field col s12">
	            		<input id="username" type="text" class="validate" required>
		                <label for="username">Username</label>
	           		</div>
				</div>
				<div class="row">
		            <div class="col m12">
		                <p class="right-align">                                
		                	<button class="btn btn-large waves-effect waves-light" type="submit">Get Me In</button>
		                </p>
		            </div>
		         </div>
			</form>
		</div>
	</div>
	<div id="content" style="display:none;">
		<div id="chatwrap">
			<div id="chat"></div>
			<form id="sendmessage">
				<div class="row">
					<div id='msgType 'class="input-field col s12" style="margin-top:0em;">
	           			<input id="message" type="text" class="validate" required>
		            	<label for="message">Enter Your Message</label>
	       			</div>
	       			<div class="col s6 offset-s6">                    
		            	<button class="btn waves-effect waves-light" type="submit">Send!
							<i class="material-icons right">send</i>
		            	</button>
		        	</div>
	       		</div>
			</form>
		</div>
		<div id="doctorsView">
			<p class="flow-text" style="border-bottom:1px solid black;">Doctors Online</p>
			<div id="doctor">
				
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script type="text/javascript">
	$(function(){
		$("#msgType").keypress(function(event) {
    		if (event.which == 13) {
        		event.preventDefault();
        		$("#sendmessage").submit();
    		}
		});
		$(window).resize(function() {
    		setHeightWidth();
  		});
  		function setHeightWidth(){
  			$chat.css('height', $(window).innerHeight()-170);
			$('#chatwrap').css('width',$(window).innerWidth()-216);
  		}
		var socket=io.connect();
		var $form=$('#setUserName');
		var $nickbox=$('#username');
		var $sendForm=$('#sendmessage');
		var $msg=$('#message'),
			$chat=$('#chat');
		$chat.css('height', $(window).innerHeight()-170);
		$('#chatwrap').css('width',$(window).innerWidth()-216);
		$form.submit(function(ev){
			ev.preventDefault();
			var ran=document.getElementById('username');
			if($nickbox.val()=='' || $nickbox.val()==" "||ran.value.indexOf(' ') >= 0)
			{
				alert("Dont try to be witty man!");
				return false;
			}
			socket.emit('newUser',$nickbox.val(),function(data){
				if(data){
					$('.overlay').fadeOut();
					$('#content').fadeIn();
				}
				else
				{
					$nickbox.addClass('invalid');
					$('#error').show();
				}
			});
			$nickbox.val('');

		});
		$sendForm.submit(function(ev){
			ev.preventDefault();
			socket.emit('newMessage',$msg.val(),function(data){
				$('#chat').append('<span class="error"><b>'+data+"</span><Br>");
			});
			$msg.val('');

		});
		socket.on('newmessage',function(data){
				//console.log(data);
				var hue = 'rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')';
				$chat.append('<span class="normal" style=\"color:'+hue+';\"><b>'+data.nick+':-</b>'+data.msg+"</span><Br>");
		});
		socket.on('whisper',function(data){
				var audioElement = document.createElement('audio');
			    audioElement.setAttribute('src', 'music/tone.wav');
			    audioElement.addEventListener('ended', function() {
			        this.currentTime = 0;
			        this.play();
			    }, false);
			    //$('#play').click(function() {
			    audioElement.play();
			    //});
			    
			 	setInterval(function(){
			 		$(window).focus(function(){
			 			console.log('Here');
			 			audioElement.pause();
			 		})
			 	},100);
				$chat.append('<span class="whisper"><b>'+data.nick+':-</b>'+data.msg+"</span><Br>");
		});
		socket.on('usernames',function(data){
				var str=' ';
				$("#doctor").html('');
				for(var i=0;i<data.length;i++)
				{
					$('#doctor').append('<span class="inDoctor">'+data[i]+'</span><br>');
				}
		});
	})
</script>
</html>