<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Medicine Recommendation Bot</title>
  <!-- Compiled and minified JavaScript -->
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="images/logo.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/chatWithDoctor">Consult A Doctor</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/chatWithDoctor">Consult A Doctor</a></li>
      </ul>



    </li>
  </ul>

  <ul class="right hide-on-med-and-down">
    <li><a href="/callAmbulance">Call Ambulance</a></li>
  </ul>

  <ul id="nav-mobile" class="side-nav">
    <li><a href="/callAmbulance">Call Ambulance</a></li>
  </ul>
  <ul class="right hide-on-med-and-down">
    <li><a href="/chatBot">Medicine Recommendations Bot</a></li>
  </ul>

  <ul id="nav-mobile" class="side-nav">
    <li><a href="/chatWithBot">Medicine Recommendations Bot</a></li>
  </ul>
  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
</div>
</nav>



<div class="container">

  <div class="row">
    <center><h4><i class="material-icons">android</i>&nbsp;Hi! I'm Your Medical Bot&nbsp;<i class="material-icons">android</i></h4>
      <div class="col l4 s4">.</div>
      <div class="col l4 s4">

        <form id="target"><input    type="text" id="query" placeholder="What Illness Are You Feeling Today?" class="validate">
          <button class="btn waves-effect waves-light" type="submit">Suggest Me Medicine</button></form></center>
          <script type="text/javascript">

          $("#target" ).submit(function( event ) {
          
            event.preventDefault();
              $("#api_result").children().remove();

              var disease = $("#query").val();
              $.get("api_request" , { "data" : disease} , function( data , status){

                //   console.log( data );
                   var data1 = JSON.parse(data);
                   data1=JSON.parse(data1);

                   $("#api_result").append( " <center><h4 ><i class='material-icons'><p> android</i>&nbsp;I suggest you the following medicines&nbsp;</h4></center> <p>" );
                   for( x in data1.response.suggestions)
                   {       
                           console.log(data1.response.suggestions[x].suggestion);

                           $("#api_result").append( "<div class='col s12 l12' ><p  ><center>" +  data1.response.suggestions[x].suggestion + "</center></p></div>" );
                   }
                //   console.log(data1.response.suggestions[0]);
              })

            
            });







          </script>
           

        </div>

      </div>
      <div class="row" id="api_result">

           </div>
    </div>



    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

  </body>
  </html>
