<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Healers At Home</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="images/logo.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/chatWithDoctor">Consult A Doctor</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/chatWithDoctor">Consult A Doctor</a></li>
      </ul>



		</li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="/callAmbulance">Call Ambulance</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/callAmbulance">Call Ambulance</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/chatBot">Medicine Recommendations Bot</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/chatWithBot">Medicine Recommendations Bot</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Health Care Emergency Services</h1>
      <div class="row center">
        <h5 class="header col s12 light">We Care About Your Health</h5>
      </div>
      <div class="row center">
        <a href="/chatWithDoctor" id="download-button" class="btn-large waves-effect waves-light orange">Consult A Doctor</a>
        <a href="/callAmbulance" id="download-button" class="btn-large waves-effect waves-light orange">Call Ambulance</a>
        <a href="/chatBot" id="download-button" class="btn-large waves-effect waves-light orange">Medicine Recommendations Bot</a>

	 </div>
      <br><br>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Talk To A Doctor</h5>
            <p class="light">You doctor is on a holiday, need medication? We have lots of doctors online there to help you. No need to roam around clinics anymore. We provide doctors on a single click</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">add_alert</i></h2>
            <h5 class="center">Call Ambulance</h5>

            <p class="light">Need ambulance? We help push amber alerts to about 50Kms Radius, So that anyone in that range can reach out to your help, Especially for places where ambulances are rare.So that you never loose your near ones. </p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">chat</i></h2>
            <h5 class="center">Chat Bot</h5>
            <p class="light">We can understand how it feels when you are seperated from your loved ones, We provide the stats. Yearly, Monthly etc which shows how many cases are solved.</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="section">

    </div>
  </div>
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Mango People</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made at <a class="orange-text text-lighten-3" href="#">CoHack Hackathon 2015</a>
      </div>
    </div>
  </footer>
</body>
<!--  Scripts-->
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/materialize.min.js"></script>
<script type="text/javascript">
  if('serviceWorker' in navigator){
    navigator.serviceWorker.register('sw.js', {
      scope: '.'
    }).then(function(reg) {
      console.log('done');
    }); 
  }
</script>
</html>
