.overlay{
	height: 100%;
	position: fixed;
	width: 100%;
}
.overlayContainer
{
	margin-top: 20%;
	margin-left: 20%;
}
.normal
{
	font-family:cursive;
	font-size:1.5em;
}
#chat
{
	overflow-y:auto;
	border-bottom: 1px solid black;
}
.inDoctor
{
	background-color: skyblue;
	position: absolute;
	width: 100%;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
}
#doctorsView
{
	position: absolute;
	height: 100%;
	border-bottom: 1px solid black;
	border-left:1px solid black;
	float: right;
	right:0%;
	width: 200px;
}
#chatwrap
{
	width: 85.2%;
	float: left;
}
.error
{
	color: red;
}
.whisper
{
    font-size: 1.5em;
    background: black;
    color: white;
    font-family: monospace;
}